---
version: 1
interactions:
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/"><Body><RetrieveProperties xmlns="urn:vim25"><_this type="PropertyCollector">propertyCollector</_this><specSet><propSet><type>ManagedEntity</type><pathSet>name</pathSet><pathSet>parent</pathSet></propSet><propSet><type>VirtualMachine</type><pathSet>parentVApp</pathSet></propSet><objectSet><obj type="Folder">group-d1</obj><skip>false</skip><selectSet xmlns:XMLSchema-instance="http://www.w3.org/2001/XMLSchema-instance" XMLSchema-instance:type="TraversalSpec"><name>traverseParent</name><type>ManagedEntity</type><path>parent</path><skip>false</skip><selectSet XMLSchema-instance:type="SelectionSpec"><name>traverseParent</name></selectSet></selectSet><selectSet xmlns:XMLSchema-instance="http://www.w3.org/2001/XMLSchema-instance" XMLSchema-instance:type="TraversalSpec"><type>VirtualMachine</type><path>parentVApp</path><skip>false</skip><selectSet XMLSchema-instance:type="SelectionSpec"><name>traverseParent</name></selectSet></selectSet></objectSet></specSet></RetrieveProperties></Body></Envelope>
    form: {}
    headers:
      Content-Type:
      - text/xml; charset="utf-8"
      Soapaction:
      - urn:vim25/7.0
    url: https://vcenter.computersrfun.org/sdk
    method: POST
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <soapenv:Body>
      <RetrievePropertiesResponse xmlns="urn:vim25"><returnval><obj type="Folder">group-d1</obj><propSet><name>name</name><val xsi:type="xsd:string">Datacenters</val></propSet></returnval></RetrievePropertiesResponse>
      </soapenv:Body>
      </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/"><Body><RetrieveProperties xmlns="urn:vim25"><_this type="PropertyCollector">propertyCollector</_this><specSet><propSet><type>ClusterComputeResource</type><all>true</all></propSet><objectSet><obj type="ClusterComputeResource">domain-c2690</obj><skip>false</skip></objectSet></specSet></RetrieveProperties></Body></Envelope>
    form: {}
    headers:
      Content-Type:
      - text/xml; charset="utf-8"
      Soapaction:
      - urn:vim25/7.0
    url: https://vcenter.computersrfun.org/sdk
    method: POST
  response:
    body: |-
      <?xml version="1.0" encoding="UTF-8"?>
      <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
       xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <soapenv:Body>
      <RetrievePropertiesResponse xmlns="urn:vim25"><returnval><obj type="ClusterComputeResource">domain-c2690</obj><propSet><name>actionHistory</name><val xsi:type="ArrayOfClusterActionHistory"><ClusterActionHistory xsi:type="ClusterActionHistory"><action xsi:type="ClusterInitialPlacementAction"><type>VmPowerV1</type><target type="VirtualMachine">vm-6055</target><targetHost type="HostSystem">host-6052</targetHost></action><time>2020-08-06T23:10:46.164Z</time></ClusterActionHistory><ClusterActionHistory xsi:type="ClusterActionHistory"><action xsi:type="ClusterInitialPlacementAction"><type>VmPowerV1</type><target type="VirtualMachine">vm-6055</target><targetHost type="HostSystem">host-6052</targetHost></action><time>2020-08-06T23:25:45.643Z</time></ClusterActionHistory><ClusterActionHistory xsi:type="ClusterActionHistory"><action xsi:type="ClusterInitialPlacementAction"><type>VmPowerV1</type><target type="VirtualMachine">vm-6062</target><targetHost type="HostSystem">host-6052</targetHost></action><time>2020-08-06T23:30:16.243999Z</time></ClusterActionHistory></val></propSet><propSet><name>alarmActionsEnabled</name><val xsi:type="xsd:boolean">true</val></propSet><propSet><name>availableField</name><val xsi:type="ArrayOfCustomFieldDef"></val></propSet><propSet><name>configIssue</name><val xsi:type="ArrayOfEvent"><Event xsi:type="EventEx"><key>179666</key><chainId>179666</chainId><createdTime>2020-08-18T21:34:12.19981Z</createdTime><userName></userName><datacenter><name>hashi-dc-save</name><datacenter type="Datacenter">datacenter-2685</datacenter></datacenter><computeResource><name>hashi-cluster</name><computeResource type="ClusterComputeResource">domain-c2690</computeResource></computeResource><fullFormattedMessage>vSAN datastore vsanDatastore in cluster hashi-cluster in datacenter hashi-dc-save does not have capacity</fullFormattedMessage><changeTag></changeTag><eventTypeId>com.vmware.vc.vsan.DatastoreNoCapacityEvent</eventTypeId><arguments><key>datastoreName</key><value xsi:type="xsd:string">vsanDatastore</value></arguments><objectId>domain-c2690</objectId><objectType>ClusterComputeResource</objectType><objectName>hashi-cluster</objectName></Event></val></propSet><propSet><name>configStatus</name><val xsi:type="ManagedEntityStatus">yellow</val></propSet><propSet><name>configuration</name><val xsi:type="ClusterConfigInfo"><dasConfig><enabled>false</enabled><vmMonitoring>vmMonitoringDisabled</vmMonitoring><hostMonitoring>enabled</hostMonitoring><vmComponentProtecting>enabled</vmComponentProtecting><failoverLevel>1</failoverLevel><admissionControlPolicy xsi:type="ClusterFailoverResourcesAdmissionControlPolicy"><resourceReductionToToleratePercent>100</resourceReductionToToleratePercent><cpuFailoverResourcesPercent>100</cpuFailoverResourcesPercent><memoryFailoverResourcesPercent>100</memoryFailoverResourcesPercent><failoverLevel>1</failoverLevel><autoComputePercentages>true</autoComputePercentages></admissionControlPolicy><admissionControlEnabled>true</admissionControlEnabled><defaultVmSettings><restartPriority>medium</restartPriority><restartPriorityTimeout>600</restartPriorityTimeout><isolationResponse>none</isolationResponse><vmToolsMonitoringSettings><enabled>false</enabled><vmMonitoring>vmMonitoringDisabled</vmMonitoring><clusterSettings>true</clusterSettings><failureInterval>30</failureInterval><minUpTime>120</minUpTime><maxFailures>3</maxFailures><maxFailureWindow>-1</maxFailureWindow></vmToolsMonitoringSettings><vmComponentProtectionSettings><vmStorageProtectionForAPD>disabled</vmStorageProtectionForAPD><enableAPDTimeoutForHosts>false</enableAPDTimeoutForHosts><vmTerminateDelayForAPDSec>3</vmTerminateDelayForAPDSec><vmReactionOnAPDCleared>none</vmReactionOnAPDCleared><vmStorageProtectionForPDL>disabled</vmStorageProtectionForPDL></vmComponentProtectionSettings></defaultVmSettings><hBDatastoreCandidatePolicy>allFeasibleDsWithUserPreference</hBDatastoreCandidatePolicy></dasConfig><drsConfig><enabled>true</enabled><enableVmBehaviorOverrides>true</enableVmBehaviorOverrides><defaultVmBehavior>manual</defaultVmBehavior><vmotionRate>3</vmotionRate></drsConfig></val></propSet><propSet><name>configurationEx</name><val xsi:type="ClusterConfigInfoEx"><vmSwapPlacement>vmDirectory</vmSwapPlacement><spbmEnabled>true</spbmEnabled><dasConfig><enabled>false</enabled><vmMonitoring>vmMonitoringDisabled</vmMonitoring><hostMonitoring>enabled</hostMonitoring><vmComponentProtecting>enabled</vmComponentProtecting><failoverLevel>1</failoverLevel><admissionControlPolicy xsi:type="ClusterFailoverResourcesAdmissionControlPolicy"><resourceReductionToToleratePercent>100</resourceReductionToToleratePercent><cpuFailoverResourcesPercent>100</cpuFailoverResourcesPercent><memoryFailoverResourcesPercent>100</memoryFailoverR[...]
[...]
